.container {
  position: relative;
  width: 20vw;
  height: 20vw;
  cursor: pointer;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
  p {
    position: absolute;
    bottom: -2.2em;
    left: 0;
    margin: 0;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1em;
    width: 100%;
    color: white;
    background: rgba(0,0,0,0.8);
  }
  &.reveal {
    img {
      opacity: 0.6;
    }
    p {
      bottom: 0;
      transition: bottom 0.5s;
    }
  }
}
